@font-face {
  font-family: "BEVIETNAMlight";
  src: local("BEVIETNAMlight"),
    url("../../asset/font/BEVIETNAM-LIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "BEVIETNAMThinItalic";
  src: local("BEVIETNAMlight"),
    url("../../asset/font/BEVIETNAM-THINITALIC.TTF") format("truetype");
}

.full {
  min-height: 100vh;
}

/* Home Page */
.home-content {
  margin-top: 80px;
}

.banner {
  height: calc(100vh - 80px);
}

.button-style {
  align-items: center;
}

.enroll-btn {
  background-color: #446dd9;
  border-color: #446dd9;
  color: white;
  border-radius: 10px;
  margin: 15px;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

.intro-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 20px;

  border-radius: 0 15px 15px 0;
  border-left: 2px solid white;
  background-color: rgba(255, 255, 255, 0.11);
}

.intro-body {
  font-family: "BEVIETNAMlight";
  color: white;
  font-size: 18px;
}

.page02-static {
  text-align: center;
  font-size: 85px;
  font-weight: bold;
  border-radius: 15px;
  background-color: #002affb6;
  width: auto;
  height: 250px;
  padding-bottom: 30px;
  margin: 0 30px;
}
.page02-static-note {
  color: white;
  font-family: "BEVIETNAMThinItalic";
  font-size: 16px;
}

/* ====================== */

.page03-content {
  margin: 70px 10px 35px 10px;
  border-radius: 0 0 30px 30px;
  border-top: 2px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
}

.page03-intro {
  color: white;
  font-size: 37px;
  font-weight: bold;
  padding: 60px 10px 60px 40px;
  margin-bottom: 20px;
}

.page03-head-img01 {
  transition: background-color 0.3s;
  background-color: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page03-head-img01:hover {
  background-color: #1246fb;
  border-radius: 0 0 10px 10px;
}

.page03-right-image-border-img01 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-border-img01 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-img01 {
  text-align: center;
  color: white;
  font-size: 17px;
}

.page03-right-content-hover-img01 {
  text-align: left;
  font-family: "BEVIETNAMlight";
  color: white;
  font-size: 12px;
  display: none;
}

.page03-head-img01.hovered .page03-right-image-border-img01 {
  background-color: #196bff;
}
.page03-head-img01.hovered .page03-right-content-border-img01 {
  display: none;
}
.page03-head-img01.hovered .page03-right-content-hover-img01 {
  display: block;
}

/* ======================= */

.page03-head-img02 {
  transition: background-color 0.3s;
  background-color: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page03-head-img02:hover {
  background-color: #1246fb;
  border-radius: 0 10px 10px 0;
}

.page03-right-image-border-img02 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-border-img02 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-img02 {
  text-align: center;
  color: white;
  font-size: 17px;
}

.page03-right-content-hover-img02 {
  text-align: left;
  font-family: "BEVIETNAMlight";
  color: white;
  font-size: 12px;
  display: none;
}

.page03-head-img02.hovered .page03-right-image-border-img02 {
  background-color: #196bff;
}
.page03-head-img02.hovered .page03-right-content-border-img02 {
  display: none;
}
.page03-head-img02.hovered .page03-right-content-hover-img02 {
  display: block;
}
/* ========================== */

.page03-head-img03 {
  transition: background-color 0.3s;
  background-color: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page03-head-img03:hover {
  background-color: #1246fb;
  border-radius: 0 10px 10px 0;
}

.page03-right-image-border-img03 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-border-img03 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-img03 {
  text-align: center;
  color: white;
  font-size: 17px;
}

.page03-right-content-hover-img03 {
  text-align: left;
  font-family: "BEVIETNAMlight";
  color: white;
  font-size: 12px;
  display: none;
}

.page03-head-img03.hovered .page03-right-image-border-img03 {
  background-color: #196bff;
}
.page03-head-img03.hovered .page03-right-content-border-img03 {
  display: none;
}
.page03-head-img03.hovered .page03-right-content-hover-img03 {
  display: block;
}
/* ============================ */

.page03-head-img04 {
  transition: background-color 0.3s;
  background-color: none;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.page03-head-img04:hover {
  background-color: #1246fb;
  border-radius: 0 10px 10px 0;
}

.page03-right-image-border-img04 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-border-img04 {
  background-color: #1246fb;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px;
}

.page03-right-content-img04 {
  text-align: center;
  color: white;
  font-size: 17px;
}

.page03-right-content-hover-img04 {
  text-align: left;
  font-family: "BEVIETNAMlight";
  color: white;
  font-size: 12px;
  display: none;
}

.page03-head-img04.hovered .page03-right-image-border-img04 {
  background-color: #196bff;
}
.page03-head-img04.hovered .page03-right-content-border-img04 {
  display: none;
}
.page03-head-img04.hovered .page03-right-content-hover-img04 {
  display: block;
}
