.dots-list {
  justify-content: center; 
  text-align: center;
}
  
.dots-list .dot-carousel {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #557EEA;
  cursor: pointer;
  text-align: center;
}
  
.dots-list .active {
  background-color: #fff;
}